.menu1 {
    background: #eee;
    float: left;
}

.menu1 h2 {
    
    text-transform: uppercase;

}

.menu1 a{
    background-color:#666;
    height:2.5em;
    text-decoration: none;

}

.menu1 ul ul ul {
top: 0;
left: 100%;
}



























.menu1 a:hover, .parent1:hover {
    background-color:#444;

}

div.menu1 ul ul,
div.menu1 ul li:hover ul ul,
div.menu1 ul ul li:hover ul ul
{
    display: none;
    color:#000;

}

div.menu1 ul li:hover ul,
div.menu1 ul ul li:hover ul,
div.menu1 ul ul ul li:hover ul
{
    display: block;
    color:#000;

}

.menu1 ul ul, .parent1 ul ul{

position: absolute;
z-index: 500;
}

.menu1 a, .menu1 h2, div.parent1, div.current{
    font: bold 11px/16px arial, helvetica, sans-serif;
    display: block;
    margin: 0;
    padding: 2px 3px;
    color: #fff;

}

div.curent ul li, .current, .current li{
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    background-color:#CCC;
    max-width:100%;
    height:2.5em;
    color:#000;
    position:relative;
}

.menu1 ul li, .parent1 ul li {
    list-style: none;
    display: inline;
    margin: 0;
    float: left;
    color: #000;
   
}


.menu1 li, .parent1 li {
    position:relative;
    display:inline;
    list-style-type: none;
    font-weight:normal;
    float:left;
    width: 11.5em;
    color:#000;
}

.menu1 ul ul {

position: absolute;
z-index: 500;
}

.menu1 ul, .parent1 {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    background:#666;
    max-width:100%;
    height:2.5em;
}
